parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$length of function array_chunk expects int\<1, max\>, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/ReanalyzeGalleryCommand.php

		-
			message: '#^Parameter \#1 \$galleryImage of job class App\\Jobs\\AnalyzeGalleryImageJob constructor expects App\\Models\\GalleryImage in App\\Jobs\\AnalyzeGalleryImageJob\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/GalleryEventResource/RelationManagers/GalleryImagesRelationManager.php

		-
			message: '#^Parameter \#1 \$galleryImage of job class App\\Jobs\\AnalyzeGalleryImageJob constructor expects App\\Models\\GalleryImage in App\\Jobs\\AnalyzeGalleryImageJob\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/GalleryImageResource.php

		-
			message: '#^Cannot call method players\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/GalleryImageResource/Pages/EditGalleryImage.php

		-
			message: '#^Cannot call method staffMembers\(\) on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/GalleryImageResource/Pages/EditGalleryImage.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1080 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/HeroSlideResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1920 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/HeroSlideResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/ManagementResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/ManagementResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/PlayerResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/PlayerResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1400 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/PostResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1400 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/PostResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/RosterResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/RosterResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/StaffMemberResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/StaffMemberResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/TeamResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/TeamResource.php

		-
			message: '#^Unsafe call to private method App\\Filament\\Resources\\TeamResource\:\:categoryOptions\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 2
			path: app/Filament/Resources/TeamResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/YouthRosterResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/YouthRosterResource.php

		-
			message: '#^Parameter \#1 \$height of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetHeight\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/YouthStaffResource.php

		-
			message: '#^Parameter \#1 \$width of method Filament\\Forms\\Components\\FileUpload\:\:imageResizeTargetWidth\(\) expects Closure\|string\|null, 1200 given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/YouthStaffResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Shop/AuctionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Shop/AuctionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$variants\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Shop/AuctionController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getFirstMediaUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Shop/AuctionController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getMedia\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Shop/AuctionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Shop/ShopController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Shop/ShopController.php

		-
			message: '#^Property App\\Http\\Controllers\\Webhooks\\PayPalWebhookController\:\:\$gatewayName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Http/Controllers/Webhooks/PayPalWebhookController.php

		-
			message: '#^Property App\\Http\\Controllers\\Webhooks\\StripeWebhookController\:\:\$gatewayName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Http/Controllers/Webhooks/StripeWebhookController.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Middleware/ServeSocialCrawlerMeta.php

		-
			message: '#^Access to an undefined property App\\Models\\GalleryImage\:\:\$staffMembers\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/AnalyzeGalleryImageJob.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Models/Coupon.php

		-
			message: '#^Strict comparison using \=\=\= between int and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/Coupon.php

		-
			message: '#^Access to an undefined property App\\Models\\GalleryImage\:\:\$staffMembers\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/GalleryImage.php

		-
			message: '#^Access to an undefined property App\\Models\\MenuItem\:\:\$children\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/MenuItem.php

		-
			message: '#^Relation ''children'' is not found in App\\Models\\MenuItem model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Models/MenuItem.php

		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver\:\:performOnCollections\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Models/Product.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$paid_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Policies/OrderItemPolicy.php

		-
			message: '#^Parameter \#1 \$num of function number_format expects float, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Services/AdminNotificationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/FacialRecognitionService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Services/GalleryUploadService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Services/Lvf/LvfMatchParser.php

		-
			message: '#^Using nullsafe method call on non\-nullable type DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Services/Lvf/LvfStandingsParser.php
